
.map {
  width: 95%;
  height:600px;
  margin: auto;
}

#info {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid grey;
  background-color: lightskyblue;
  font-weight: bold;
  display: none;
}

.active {
  display: block !important;
}